@model MVCCV.Models.Entity.TBL_SOCIAL

@{
    ViewBag.Title = "YetenekDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sosyal Medya Güncelleme Sayfası</h2>

<form method="post">
    @Html.Label("Sosyal Medya Adı")
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    @Html.Label("Sosyal Medya Hesap Linki")
    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
    <br />
    @Html.Label("Sosyal Medya İkonu")
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>


